.App {
  text-align: center;
  background-color: hsl(32, 12%, 75%);
}

a {
  color: rgb(235, 226, 226);
  font-size: 20px;
  text-decoration: solid;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
a:hover {
  color: pink;
}
nav ul{
  display: inline;
}

p{
  background-color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gold;
  height: 50px;
  width: 560px;
  display: flex;
  margin: auto;
  
}
.button {
  background: linear-gradient(130deg, gold, white);
  border-radius: 10px;
 box-shadow: #282c34;
}
h2 {
  color: gray;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}